<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>LoginC</servlet-name>
        <servlet-class>Controlador.LoginC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cerrarSesionC</servlet-name>
        <servlet-class>Controlador.cerrarSesionC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addCart</servlet-name>
        <servlet-class>Controlador.addCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteItem</servlet-name>
        <servlet-class>Controlador.deleteItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PagoEC</servlet-name>
        <servlet-class>Controlador.PagoEC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PagoTC</servlet-name>
        <servlet-class>Controlador.PagoTC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cancelarPedidoC</servlet-name>
        <servlet-class>Controlador.cancelarPedidoC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistroC</servlet-name>
        <servlet-class>Controlador.RegistroC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TarjetaC</servlet-name>
        <servlet-class>Controlador.TarjetaC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginAdminC</servlet-name>
        <servlet-class>Controlador.LoginAdminC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cerrarSesionAdminC</servlet-name>
        <servlet-class>Controlador.cerrarSesionAdminC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmarPedidoC</servlet-name>
        <servlet-class>Controlador.ConfirmarPedidoC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmarEntrega</servlet-name>
        <servlet-class>Controlador.ConfirmarEntrega</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmarEntregaC</servlet-name>
        <servlet-class>Controlador.ConfirmarEntregaC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelarEntregaC</servlet-name>
        <servlet-class>Controlador.CancelarEntregaC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SumarCantidad</servlet-name>
        <servlet-class>Controlador.SumarCantidad</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RestarCantidad</servlet-name>
        <servlet-class>Controlador.RestarCantidad</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginC</servlet-name>
        <url-pattern>/LoginC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cerrarSesionC</servlet-name>
        <url-pattern>/cerrarSesionC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addCart</servlet-name>
        <url-pattern>/addCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteItem</servlet-name>
        <url-pattern>/deleteItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PagoEC</servlet-name>
        <url-pattern>/PagoEC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PagoTC</servlet-name>
        <url-pattern>/PagoTC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cancelarPedidoC</servlet-name>
        <url-pattern>/cancelarPedidoC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistroC</servlet-name>
        <url-pattern>/RegistroC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TarjetaC</servlet-name>
        <url-pattern>/TarjetaC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginAdminC</servlet-name>
        <url-pattern>/LoginAdminC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cerrarSesionAdminC</servlet-name>
        <url-pattern>/cerrarSesionAdminC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmarPedidoC</servlet-name>
        <url-pattern>/ConfirmarPedidoC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmarEntrega</servlet-name>
        <url-pattern>/ConfirmarEntrega</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmarEntregaC</servlet-name>
        <url-pattern>/ConfirmarEntregaC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelarEntregaC</servlet-name>
        <url-pattern>/CancelarEntregaC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SumarCantidad</servlet-name>
        <url-pattern>/SumarCantidad</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RestarCantidad</servlet-name>
        <url-pattern>/RestarCantidad</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
